.window {
  height: fit-content;
  height: -webkit-fill-available;
}

.opened {
  overflow: visible;
  margin-top: var(--padding-normal);
}

.closed {
  height: 0;
  overflow: hidden;
}

.window p {
  /* font-size: 125%; */
  /* new font needs smaller % increase */
  font-size: 115%;
}


@media all and (max-width: 1150px) {
  .window p {
    font-size: 110%;
  }
}
